@charset "UTF-8";
body {
  width: 100%;
  margin: 0px; }

header {
  height: 230px;
  background: gainsboro;
  padding-right: 63px; }

.tel {
  font-family: arial;
  color: #777;
  font-size: 35px;
  margin-top: 74px;
  padding-right: 184px;
  float: right; }

.brend {
  font-family: arial;
  color: #777;
  width: 304px;
  padding-left: 211px;
  padding-top: 63px;
  float: left; }
  .brend p {
    font-size: 14px; }

.logo {
  width: 100px;
  height: 100px;
  background: #777;
  float: left;
  border-right: 11px solid gainsboro; }

h2 {
  font-family: arial;
  color: #777;
  margin-top: 0px;
  padding-top: 6px;
  font-size: 31px;
  line-height: 26px;
  margin-bottom: 0px; }

.menu {
  height: 80px;
  background: #777; }
  .menu ul {
    text-align: center;
    list-style-type: none;
    padding-top: 28px;
    margin-top: 0px;
    padding-left: 0px; }
  .menu #first {
    border-left: none; }
  .menu ul li {
    border-left: 3px solid white;
    display: inline;
    padding: 0 24px 0 21px; }
  .menu ul a {
    font-family: arial;
    text-decoration: none;
    font-size: 28px;
    line-height: 22px;
    color: white; }
  .menu ul a:hover {
    text-decoration: underline; }

.picture {
  margin-left: 68px;
  height: 400px;
  background-image: url(../img/picture.png); }

aside {
  width: 350px;
  background: #777;
  float: left;
  padding-left: 33px;
  margin-left: 211px;
  margin-top: 30px;
  padding-top: 16px;
  padding-bottom: 102px;
  width: 316px; }
  aside a {
    font-size: 12px;
    line-height: 22px;
    color: white;
    margin-left: 166px; }
  aside .title_news {
    font-family: arial;
    font-size: 36px;
    font-weight: bold;
    color: white; }
  aside .news {
    font-size: 12px;
    line-height: 22px;
    margin-top: 25px;
    width: 270px;
    color: white;
    overflow: hidden; }

.box_text {
  width: 573px;
  float: left;
  margin-top: 30px;
  padding-top: 14px;
  padding-left: 59px;
  padding-bottom: 218px;
  color: #777; }
  .box_text .title_text {
    font-family: arial;
    font-size: 39px; }
  .box_text .text {
    margin-top: 24px;
    font-size: 12px;
    font-family: arial;
    letter-spacing: 0.7px;
    line-height: 22px;
    overflow: hidden; }

.clear {
  clear: both; }

footer {
  height: 220px;
  background: #777; }

.info {
  color: white;
  width: 309px;
  float: left;
  font-family: arial;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 22px;
  padding-top: 43px;
  padding-left: 210px; }
  .info a {
    text-decoration: none;
    color: white; }

.list {
  color: white;
  width: 406px;
  float: left;
  list-style-type: none;
  text-decoration: underline;
  padding-top: 29px;
  font-family: arial;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px; }

.company {
  padding-top: 44px;
  color: white;
  float: left;
  width: 240px;
  font-family: arial;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 21px; }
  .company u {
    float: left; }

.img_comp {
  margin-right: 6px;
  float: left;
  width: 40px;
  height: 45px;
  background: url(../img/img.png); }

#modal_form {
  text-align: center;
  width: 444px;
  height: 590px;
  /* Размеры должны быть фиксированы */
  border: 3px #000 solid;
  background: #fff;
  position: fixed;
  /* чтобы окно было в видимой зоне в любом месте */
  top: 45%;
  /* отступаем сверху 45%, остальные 5% подвинет скрипт */
  left: 50%;
  /* половина экрана слева */
  margin-top: -220px;
  margin-left: -236px;
  /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
  display: none;
  /* в обычном состоянии окна не должно быть */
  opacity: 0;
  /* полностью прозрачно для анимирования */
  z-index: 5;
  /* окно должно быть наиболее большем слое */
  padding: 20px 10px;
  padding-top: 14px;
  color: #777;
  font-family: arial; }
  #modal_form input, #modal_form #big {
    border-radius: 0px;
    height: 39px; }
  #modal_form #big {
    height: 150px; }
  #modal_form h3 {
    padding-bottom: 11px; }

/* Кнопка закрыть для тех кто в танке) */
#modal_form #modal_close {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block; }

/* Подложка */
#overlay {
  z-index: 3;
  /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
  position: fixed;
  /* всегда перекрывает весь сайт */
  background-color: #000;
  /* черная */
  opacity: 0.8;
  /* но немного прозрачна */
  width: 100%;
  height: 100%;
  /* размером во весь экран */
  top: 0;
  left: 0;
  /* сверху и слева 0, обязательные свойства! */
  cursor: pointer;
  display: none;
  /* в обычном состоянии её нет) */ }

.buttom {
  background: #777;
  color: white;
  font-size: 18px; }

/*# sourceMappingURL=style.css.map */
